<% layout('/layouts/boilerplate') -%>


<body >
    <div class="row flash-msg">
        <div class="alert alert-danger" styel={margin-top:60px } role="alert">
            <%=message%>>
        </div>
    </div>
</body>
