<% layout('/layouts/boilerplate') -%>
<body>
    <div class="row">
       <div class="col-md-8 col-sm-12 offset-sm-2 responsive-form" >
   <br><br>
    <form action="/listings" method="post" novalidate  class="row  needs-validation"  enctype="multipart/form-data">
        <h3>Create New List</h3>

        <div class="col-12">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" type="text" class="form-control" id="title" placeholder="Classic Title" required>
            <div class="invalid-feedback">
                Please provide valid title.
              </div>
              <div class="valid-feedback">
                Looks Good.
              </div>
        </div>

        <div class="col-12">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" type="text" class="form-control" id="description" required></textarea>
            <div class="invalid-feedback">
                Please provide Description.
              </div>
              <div class="valid-feedback">
                Looks Good!.
              </div>
        </div>

        <div class="col-12">
            <label for="Image" class="form-label">Upload Image</label>
            <input name="listing[image]" type="file" class="form-control" id="image" placeholder="Image Link Here" required>
        </div>
         


        <div class="col-md-4">
            <label for="price" class="form-label">Price</label>
            <input  name="listing[price]" placeholder="1200" type="number" class="form-control" id="price" required>
            <div class="invalid-feedback">
                Please provide Price.
              </div>
        </div>

        

        <div class="col-md-8">
            <label for=country class="form-label">Country</label>
            <input  name="listing[country]" placeholder="India" type="text" class="form-control" id="country" required>
            <div class="invalid-feedback">
                Please provide Country.
              </div>
        </div>

        <div class="col-md-8">
            <label for="location" class="form-label">Location</label>
            <input  name="listing[location]" placeholder="Jalgaon, Maharashtra" type="text" class="form-control" id="location" required>
            <div class="invalid-feedback">
                Please provide Location.
              </div>
        </div>

        <div class="col-md-4">
                <label for="dropdown">category :</label>
                <select class="form-control" name="listing[category]"  id="dropdown" required>
                    <option value="Trending">Trending</option>
                    <option value="Farm">Farm</option>
                    <option value="Rooms">Rooms</option>
                    <option value="Castel">Castel</option>
                    <option value="Iconic City">Rooms</option>
                    <option value="Mountain View">Mountain View</option>
                    <option value="Beach">Beach</option>
                    <option value="Cabins">Cabins</option>
                    <option value="Camping">Camping</option>
                    <option value="Glofing">Glofing</option>
                    <option value="Island">Island</option>
                </select>

            <div class="invalid-feedback">
                Please provide category.
              </div>
        </div>
        
        <div class="col-12">
            <button type="submit" class="btn btn-primary add-btn mt-3 mb-3">Add New Hotel</button>
        </div>
        <br><br>
    </form>
    <br><br>
    </div>
</div>
</body>
